
div.form-group .help-block{
	display:none;
}
div.form-group.has-error .help-block{
	display:block !important;
}

div.wo-padding{ 
	padding:0px !important
}

label{
	text-align:left !important;
}

#mainNav{
	 background-color:#333;
	 font-weight:bold;
}

a.navbar-brand{
	color:#fff !important;
}

nav ul a{
	padding:8px !important;
}

nav ul li{
	float:left !important;
}

nav a > img{
	width:30px;
}

.label-right{
	text-align:right !important;
}

.radio-inline{
	margin-left:0px !important;
}